[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "Compind"]
	path = Compind
	url = https://github.com/cran/Compind
[submodule "PROMETHEE"]
	path = PROMETHEE
	url = https://github.com/cran/PROMETHEE
[submodule "SpatialRegimes"]
	path = SpatialRegimes
	url = https://github.com/cran/SpatialRegimes
